*{
	margin: 0%;
}
.navbar a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content:space-around ;
	padding: 2%;
}

.paytm{
	vertical-align: middle;

}
.sign{
	border-radius: 25px;

}
.matter{
	text-align: center;
	background-color: #f6f6f6;
	padding: 2%;
}
.section h1{
	font-size: 20px;
	width: 30%;

}
.three{
	display: flex;
	justify-content: space-between;
	padding: 2%;

	
}
.four{
	background-color: black;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
	width: 60%;
	padding: 2%;
}
.four:hover{
	background-color: white;
	color: black;
}

.five h1{
	color: white;
	padding: 2%;
}

.div7 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:2% 5% 0% 0%;
	
}
.div7 a{
	text-decoration: none;


}
.five{
	width: 95%;
	background-color: #00baf2;
	padding:  2.5%;

}
.div7 img{
	width: 50%;

}


.seven h1{
	color: white;
	padding: 5%;
}
.seven{
	background-color: #0f4a8a;
}
.div1{
	display: flex;
	padding-bottom: 5%;
	width: 90%;
}
.div1 img{
	width: 30%;
	margin-left: 50%;
}
.message{
	margin-left: 10%;
}
.div1 a{
	text-decoration: none;
	color: white;
	width: 50%;
}
.nine{
	padding-top: 4%;
}
.nine h1{
	text-align: left;
	font-size: 45px;

}
.nine{
	background-color: lightgrey;
}
.online{
	display: flex;
	background-color: white;
	width: 82%;
	margin-left: 5%;
	margin-right:5%;
	padding-left: 8%;
	padding-right:2%;
}
.nine p{
	background-color: black;
	border: 1px solid black;
	border-radius: 35px;
	color: white;
	width: 90%;
	padding: 3%;

}
.nine a{
	text-decoration: none;
	display: flex;
	align-items: center;
}
.nine h5{
	padding: 5%;
}
.nine img{
	margin-left: 20%;
}


