.navbar a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content:space-around ;
	padding: 2%;
}

.paytm{
	vertical-align: middle;

}
.sign{
	border-radius: 25px;

}
.matter{
	text-align: center;
	background-color: #f6f6f6;
	padding: 2%;
}
.section h1{
	font-size: 20px;
	width: 30%;

}
.three{
	display: flex;
	justify-content: space-between;
	padding: 2%;
	
}
.four{
	background-color: black;
	border: 1px solid black;
	border-radius: 25px;
	color: white;
	width: 60%;
	padding: 2%;
}
.four:hover{
	background-color: white;
	color: black;
}
.five{
	width: 100%;
}
.five h1{
	color: white;
}
.div7 {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 2% 0% 10% 5%;
	
}
.div7 a{
	text-decoration: none;


}
.five{
	background-color: #00baf2;
	padding:  2.5%;

}
.div7 img{
	width: 50%;

}
#div6{
	width: 40%;
}
.div1{
	display: flex;
}

